mixin multi-range-slider(label, min, max, minValue, maxValue)
    +b.range-slider
        +e.header
            +e.LABEL.label.h3=label
            +e.SPAN.total
        +e.INPUT#slider-left.input(type="range" min=min, max=max, value=minValue)
        +e.INPUT#slider-right.input(type="range" min=min, max=max, value=maxValue)
        +b.slider
            +e.track
            +e.range
            +e.thumb_left
            +e.thumb_right